.welcome-back {
	color: orange;
}
.attention {
	color: red;
}
.color-name {
	color: green;
}
a {
	color: green;
}
#big-tasty {
	color: yellowgreen;
}
div.bigmakcolor {
	color: blueviolet;
}
.p-color.p-test {
	color: blue;
}
.span-color,
.span-test {
	color: chocolate;
}
.kaskad-color p{
	color:brown
}
.kaskad-color .kaskad-span{
	color: darkblue;
}
.colorforall *{
	color: darkmagenta;
}